@import url(./reset.css);

.page {
  width: 100%;
  font-family: 'PT Sans', sans-serif;
}

.button {
  border-radius: 6px;
  color: white;
}

.button_primary {
  background: linear-gradient(175.24deg, #D54C00 14.1%, #D30000 152.61%);
}

.button_secondary {
  background-color: #343434;
}

.wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* Header start */

.header {
  width: 100%;
  background-color: #252525;
}

.header__content {
  height: 117px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
}

.header__city {
  padding-top: 39px;
  font-size: 14px;
  line-height: 18px;
}

.header__city p {
  color: #8F909A;
  margin-bottom: 10px;
}

.header__city h3 {
  position: relative;
  text-decoration: underline;
  cursor: pointer;
}

.header__city h3::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 5px;
  width: 11.27px;
  height: 6px;
  background: url('../img/arrow.svg') no-repeat center center;
}

.header__mobile {
  padding-top: 38px;
  font-weight: bold;
  color: white;
}

.header__mobile::before {
  content: '';
  display: inline-block;
  background: url('../img/mobile-icon.svg');
  width: 11.61px;
  height: 18px;
}

.header__logo {
  justify-self: center;
}

.header__logo img {
  width: 93px;
  height: 98px;
}

.header__contacts {
  padding-top: 38px;
}

.header__phone {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.header__phone::before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  background: url('../img/phone-icon.svg') no-repeat center center;
}

.header__email {
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: underline;
  padding-left: 21px;
  position: relative;
}

.header__email::before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 14.98px;
  height: 12px;
  background: url('../img/email-icon.svg') no-repeat center center;
}

.header__call-btn {
  margin-top: 38px;
  font-weight: bold;
  width: 161px;
  height: 40px;
}

/* Header end */

/* Menu start */

.menu {
  background-color: black;

}

.menu__content {
  display: flex;
  flex-wrap: nowrap;
}

.menu__catalog {
  width: 102px;
  font-size: 14px;
  line-height: 18px;
  margin-top: 7px;
  margin-bottom: 9px;
  margin-right: 21px;
  padding-left: 14px;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.menu__catalog::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 15.5px;
  width: 11.27px;
  height: 6.17px;
  background: url('../img/arrow-catalog.svg') no-repeat center center;
}

.menu-items {
  margin-top: 15px;
  flex-grow: 2;
}

.menu__item {
  font-size: 14px;
  line-height: 18px;
  margin-right: auto;
  color: white;
  margin-right: 36px;
}

.menu__item:last-child {
  position: relative;
}

.menu__item:last-child::after {
  content: '';
  position: absolute;
  top: 7px;
  right: -18px;
  width: 11.27px;
  height: 6px;
  background: url('../img/arrow.svg') no-repeat center center;
}

.menu__search {
  width: 245px;
  height: 36px;
  margin: 8px 0;
  padding-top: 7px;
  padding-left: 14px;
  background-color: #4B4B4B;
  border-radius: 6px;
  position: relative;
}

.menu__search::after {
  content: '';
  position: absolute;
  top: 0;
  right: 15px;
  width: 25px;
  height: 100%;
  background: url('../img/search.svg') no-repeat center center;
}

.search {
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.search::placeholder {
  color: #8F909A;
}

/* Menu end */


/* First page start */

.main {
  height: 100vh;
  padding-top: 169px;
  background: url('../img/main-bg.png') no-repeat center center;
  background-size: cover;
}

.main__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.main__content h1 {
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 25px;
  text-align: center;
}

.main__content p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.main__buttons {
  display: flex;
}

.main__buttons .button_primary,
.main__buttons .button_secondary {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.main__buttons .button_primary {
  margin-right: 5px;
  padding: 16px;
  padding-right: 17px;
}

.main__buttons .button_secondary {
  padding: 16px 17px;
  padding-right: 18px;
}

/* First page end */

/* Catalog start */

.catalog__categories {
  padding-top: 61px;
  height: 423px;
  background: linear-gradient(90.03deg, #181818 0.03%, #272727 51.25%, #101010 99.98%);
}

.catalog__categories h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
}

.categories__item {

}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.category__active {
  width: 186px;
  height: 186px;
  border-radius: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  filter: blur(130px);
}

.category__img {

}

.categories__item:first-child .category__img {
  margin-bottom: -10px;
}

.category__name {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #D9D9D9;
  margin-bottom: 35px;
}

.category__arrow {
  position: absolute;
  width: 54.17px;
  height: 16.26px;
  opacity: 0;
  bottom: -16.26px;
  left: calc(50% - 27px);
}

.category__arrow_active {
  opacity: 1;
}

.catalog__products {
  height: 400px;
  background-color: black;
  padding-top: 72px;
}

/* Slider start */
.slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.slider__content {
  flex-grow: 2;
}

.slider__item {
  display: flex;
  flex-direction: column;
}
/* Slider end */

/* Catalog end */

/* Cabines start */
.cabines {
  padding-top: 83px;
  padding-bottom: 90px;
  color: black;
  display: flex;
  flex-direction: column;
}

.cabines h2 {
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 96px;
}

.cabines__items {
  margin: 0 auto;
  width: 1096px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cabine {
  width: 330px;
}

.cabine__img {
  width: 100%;
  margin-bottom: 54px;
}

.cabine__title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 36px;
}

.cabine__title .button {
  width: 116px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.cabine__description {
  font-size: 14px;
  line-height: 18px;
}

.cabine:nth-child(2) {
  width: 385px;
  margin-top: -27px;
  margin-left: -3.5px;
}

.cabine:nth-child(2) .cabine__img {
  margin-bottom: 33px;
}

.cabine:nth-child(2) .cabine__title {
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 27px;
  align-items: start;
}

.cabine:nth-child(2) .button {
  width: 137px;
  height: 36px;
  font-size: 16px;
  line-height: 21px;
}

.cabine:nth-child(2) .cabine__description {
  font-size: 16px;
  line-height: 21px;
}

/* Cabines end */

/* Callback start */

.callback {
  background: url('../img/callback-bg.jpg') no-repeat center center;
  background-size: cover;
  color: white;
}

.callback__content {
  display: flex;
  justify-content: space-between;
}

.callback__left {
  width: 400px;
  margin-top: 61px;
  margin-bottom: 72px;
}

.callback__left h3 {
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 10px;
}

.callback__email {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 21px;
}

.callback__left span {
  text-decoration: underline;
}

.callback__tel {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}

.callback__right {
  margin-top: 116px;
}

.callback__form {
  display: flex;
  justify-content: end;
}

.form__input {
  border-radius: 6px;
  padding: 12px 17px 13px;
  width: 384px;
  font-size: 18px;
  line-height: 23px;
  color: black;
  margin-right: 42px;
  background-color: white;
  margin-bottom: 25px;
}

.form__input::placeholder {
  color: #8F909A;
}

.form__checkbox {
  display: flex;
}

.form__button {
  width: 280.8px;
  height: 48px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.checkbox-true {
  display: none;
}

.checkbox-fake {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 2px;
  padding-top: 5px;
  padding-left: 4px;
  margin-right: 12px;
}

.checkbox-check {
  opacity: 0;
}

.checkbox-true:checked ~ .checkbox-fake .checkbox-check {
  opacity: 1;
}

/* Callback end */

/* About start */

.about {
  background: url('../img/about-bg.png') no-repeat center center;
  background-size: cover;
}

.about__content {
  padding: 142px 0;
  color: white;
}

.about__content h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  margin-bottom: 37px;
}

.about__content p {
  width: 48%;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 37px;
}

.about__content p:last-child {
  margin-bottom: 0;
}

/* About end */

/* Advantages start */

.advantages {
  background-color: #f5f5f5;
  padding-top: 82px;
  padding-bottom: 92px;
}

.advantages h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 52px;
}

.advantages__content {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.advantage {
  width: 330px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.advantage:nth-child(4),
.advantage:nth-child(5),
.advantage:nth-child(6) {
  margin-bottom: 0;
}

.advantage__img {
  width: 100%;
  height: 150px;
  background: no-repeat center center;
  margin-bottom: 18px;
}

.advantage__img_1 {
  background-image: url('../img/in-stock.svg');
}

.advantage__img_2 {
  background-image: url('../img/official-dealer.svg');
}

.advantage__img_3 {
  background-image: url('../img/guarantee.svg');
}

.advantage__img_4 {
  background-image: url('../img/service.svg');
}

.advantage__img_5 {
  background-image: url('../img/price-quality.svg');
}

.advantage__img_6 {
  background-image: url('../img/leasing.svg');
}

.advantage h3 {
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.advantage p {
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #5E5E5E;
}

/* Advantages end */

/* Info start */

.info {
  background: url('../img/info-bg.png') no-repeat center center;
  background-size: cover;
}

.info__content {
  padding: 89px 0 119px;
}

.info__content h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: black;
  margin-bottom: 62px;
}

.info__blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info-block {
  width: 384px;
  padding-top: 173px;
  background: no-repeat center 0;
  background-size: contain;
  margin-right: 24px;
  margin-bottom: 24px;
}

.info-block_01 {
  background-image: url('../img/01.jpg');
}

.info-block_02 {
  background-image: url('../img/02.jpg');
  position: relative;
}

.info-block_02 img {
  position: absolute;
  top: 0;
  left: 4px;
}

.info-block_03 {
  background-image: url('../img/03.jpg');
  margin-right: 0;
}

.info-block_04 {
  background-image: url('../img/04.jpg');
  margin-bottom: 0;
}

.info-block_05 {
  background-image: url('../img/05.jpg');
  margin: 0;
}

.info-block__content {
  background-color: white;
  color: black;
  padding: 25px;
  font-weight: bold;
}

.info-block__number {
  font-size: 54px;
  line-height: 70px;
  position: relative;
  margin-bottom: 15px;
}

.info-block__number::after {
  position: absolute;
  content: '';
  bottom: -6px;
  left: 0;
  width: 60px;
  height: 6px;
  background: linear-gradient(175.24deg, #D54C00 14.1%, #D30000 152.61%);
}

.info-block__title {
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}

/* Info end */

/* Quiz start */

.quiz {
  background: url('../img/quiz-bg.png') no-repeat center center;
  background-size: cover;
  padding: 99px 0 91px;
  color: black;
}

.quiz h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 29px;
}

.quiz__content {
  width: 1197px;
  height: 669px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 82px 0 53px;
}

.quiz-menu {
  display: flex;
  align-items: baseline;
  padding-left: 78px;
  padding-right: 80px;
  margin-bottom: 71px;
}

.quiz-menu__item {
  flex-grow: 2;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  position: relative;
  padding-bottom: 7px;
}

.quiz-menu__item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: rgba(221, 214, 207, 0.75);
  bottom: -4px;
  left: 0;
}

.quiz-menu__item_active {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: black;
}

.quiz-menu__item_active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  background: linear-gradient(175.24deg, #D54C00 14.1%, #D30000 152.61%);
  bottom: -6px;
  left: 0;
}

.quiz__question {
  padding-left: 65px;
  height: 356px;
  position: relative;
}

.quiz__question::after {
  content: '';
  position: absolute;
  left: 78px;
  bottom: -1px;
  height: 1px;
  width: calc(100% - 158px);
  background: rgba(221, 214, 207, 0.75);
}

.quiz__question h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
  margin-bottom: 26px;
}

.quiz__answers {
  padding-left: 12px;
}

.quiz-answer {
  display: flex;
  align-items: baseline;
  margin-bottom: 28px;
}

.quiz-answer:last-child {
  margin-bottom: 0;
}

.quiz-answer span {
  font-size: 18px;
  line-height: 21px;
  color: black;
}

.quiz-radio {
  margin-right: 17px;
}

.quiz-radio__true {
  display: none;
}

.quiz-radio__fake {
  width: 36px;
  height: 36px;
  border: 1px solid #878787;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-radio__fake img {
  opacity: 0;
}

.quiz-radio__true:checked ~ .quiz-radio__fake {
  background: #EDEDED;
  border-color: transparent;
}

.quiz-radio__true:checked ~ .quiz-radio__fake img {
  opacity: 1;
}

.quiz__footer {
  padding-top: 16px;
  padding-left: 77px;
}

.button_back {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #343434;
  margin-right: 11px;
}

.button_back svg path {
  fill: #343434;
}

.button_back-inactive {
  border-color: #D1D1D1;
}

.button_back-inactive svg path {
  fill: #D1D1D1;
}

.quiz__footer .button_primary {
  height: 48px;
  padding-left: 19px;
  padding-right: 49px;
  font-size: 16px;
  line-height: 19px;
  position: relative;
}

.quiz__footer .button_primary::after {
  content: '';
  position: absolute;
  right: 19px;
  top: 18px;
  width: 13px;
  height: 13px;
  background: url('../img/arrow-forward.svg') no-repeat center center;
}

/* Quiz end */

/* Reviews start */

.reviews {
  padding: 104px 0 113px;
  color: #5E5E5E;
  background: #F5F5F5;
}

.reviews__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;
}

.reviews__header h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: black;
}

.reviews__controls {

}

.reviews__arrows {
  margin-bottom: 9px;
  text-align: right;
}

.reviews__arrows svg:first-child {
  margin-right: 40px;
}

.reviews__arrows svg:hover path {
  fill: #D30000;
}

.reviews__link {
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #0072DC;
}

.reviews__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reviews__left {
  width: 301px;
  height: 279px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46px;
}

.reviews__left img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.reviews__left .stars {
  margin-bottom: 12px;
}

.reviews__left .stars svg {
  width: 22.7px;
}

.reviews__center {
  margin: 0;
}

.reviews__right {
  width: 298px;
  height: 323px;
  padding-top: 45px;
  padding-left: 38px;
}

.reviews__right h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: black;
  margin-bottom: 17px;
}

.reviews__right p {
  font-size: 16px;
  line-height: 21px;
}

.review {
  height: 369px;
  background: #F5F5F5;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
}

.review__left {
  padding: 59px 112px 0 50px;
  width: 67%;
  border-right: 2px solid #E9E9E9;
}

.review__left h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin-bottom: 23px;
}

.review__left h3::before {
  content: '«';
}

.review__left h3::after {
  content: '»';
}

.review__right {
  width: 33%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__right img {
  border-radius: 50%;
  width: 128px;
  height: 128px;
  margin-bottom: 27px;
}

.review__stars {
  margin-bottom: 16px;
}

.review__stars svg:last-child path {
  fill: #9D9D9D80;
}

.reviews__left h3,
.review__right h3 {
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  margin-bottom: 4px;
}

.reviews__left p,
.review__right p {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

/* Reviews end */

/* Footer start */

.footer {
  background: black;
  color: white;
  padding-bottom: 45px;
  position: relative;
}

.whatsapp {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #00AE3B;
  position: fixed;
  right: 93px;
  bottom: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp:hover {
  background-color: #00D348;
}

.to-top {
  background: linear-gradient(175.24deg, #D54C00 14.1%, #D30000 152.61%);
  border-radius: 50px;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 93px;
  bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-top img {
  transform: rotate(90deg);
  padding-right: 5px;
}

.footer__content {
  display: grid;
  grid-template-columns: 25% 1fr 1.3fr 1fr 1fr;
}

.footer__logo {
  padding: 30px 0;
}

.footer__logo img {
  width: 93px;
  height: 98px;
}

.footer__mobile {
  padding-top: 52px;
}

.footer__mobile p {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  position: relative;
  padding-left: 21px;
}

.footer__mobile p::before {
  content: '';
  position: absolute;
  left: 0;
  width: 11.61px;
  height: 18px;
  background: url('../img/mobile-icon.svg') no-repeat center center;
}

.footer__contacts {
  padding-top: 52px;
}

.footer__phone {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.footer__phone::before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  background: url('../img/phone-icon.svg') no-repeat center center;
}

.footer__email {
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: underline;
  padding-left: 21px;
  position: relative;
}

.footer__email::before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 14.98px;
  height: 12px;
  background: url('../img/email-icon.svg') no-repeat center center;
}

.footer__social {
  padding-top: 52px;
  display: flex;
}

.vk, .tg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.vk {
  margin-right: 15px;
  margin-left: 4px;
}

.footer__callback {
  padding-top: 57px;
  text-align: right;
}

.footer__callback .button {
  width: 162px;
  height: 36px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.footer__menu a {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: white;
  display: block;
  margin-bottom: 8px;
}

.footer__menu a:hover {
  color: #FF922D;
}

.footer__info {
  margin-bottom: 20px;
}

.footer__info p {
  font-size: 14px;
  line-height: 30px;
  position: relative;
  padding-left: 26px;
}

.footer__info p:first-child::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 4px;
  width: 15.39px;
  height: 20px;
  background: url('../img/geo-icon.svg') no-repeat center center;
}

.footer__info p:last-child::before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  width: 19.16px;
  height: 19.16px;
  background: url('../img/clock-icon.svg') no-repeat center center;
}

.footer__bottom {
  display: flex;
  justify-content: end;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  line-height: 14px;
  flex-grow: 2;
}

.footer__bottom a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  line-height: 14px;
  margin-left: 10px;
  text-decoration: underline;
}

/* Footer end */


/*
 * INNER PAGE 
 */

/* SEO start */

.seo {
  background: rgba(221, 231, 233, 0.5);
  padding-top: 60px;
  padding-bottom: 79px;
}

.seo h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: black;
  margin-bottom: 23px;
}

.seo p {
  font-size: 16px;
  line-height: 21px;
  color: #5E5E5E;
}

/* SEO end */

/* Catalog-full start */

.catalog-full {
  padding-top: 179px;
  color: black;
}

.catalog-full__content {
  padding-top: 31px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 72px;
}

.breadcrumbs__item {
  font-size: 16px;
  line-height: 19px;
  padding-right: 15px;
  color: black;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.breadcrumbs__item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 4px;
  width: 100%;
  background-color: #D9D9D9;
}

.breadcrumbs__item:last-child {
  padding-right: 0;
  color: rgba(0, 0, 0, 0.5);
}

.breadcrumbs__item:last-child::after {
  background: linear-gradient(175.24deg, #D54C00 14.1%, #D30000 152.61%);
}

.catalog-full h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 38px;
  font-family: 'Roboto', sans-serif;
}

.catalog-full__grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 25px;
}

.catalog-full__sort {
  text-align: right;
}

.catalog-full__heading h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.filters {
  padding-top: 29px;
  background: rgba(217, 217, 217, 0.3);
  border-radius: 10px;
}

.catalog-full__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 84px;
}

.truck {
  width: 282px;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-bottom: 16px;
  margin-bottom: 20px;
}

.truck__img {
  padding: 8px 11px 15px 10px;
}

.truck__img img {
  width: 100%;
}

.truck h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #0072DC;
  margin-bottom: 19px;
}

.characteristics {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
  padding-left: 18px;
  padding-right: 21px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.row:last-child {
  margin-bottom: 0;
}

.truck__price {
  margin-bottom: 12px;
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.truck__price span:last-child {
  font-size: 20px;
  line-height: 26px;
}

.truck__buttons {
  padding-left: 18px;
  padding-right: 17px;
}

.truck__buttons .button {
  font-size: 16px;
  line-height: 21px;
  height: 40px;
  width: 117px;
  font-family: 'PT Sans';
  text-align: center;
}

/* Catalog-full end */















@media screen and (max-width: 1240px) {
  .page {
    zoom: 0.8;
  }
}

@media screen and (max-width: 1023px) {
  
}

@media screen and (max-width: 767px) {
  
}
