* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 100%;
  font-family: 'PT Sans', sans-serif;
}

.button_primary {
  background: linear-gradient(175.24deg, #D54C00 14.1%, #D30000 152.61%);
  border-radius: 6px;
  color: white;
  font-size: 16px;
  line-height: 20.7px;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #252525;
  position: fixed;
  top: 0;
}

.header__content {
  height: 117px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  color: white;
}

.header__city {
  font-size: 14px;
  line-height: 18px;
}

.header__logo {
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.header__logo img {
  width: 91.34px;
}

.header__call-btn {
  font-weight: bold;
  width: 161px;
}















@media screen and (max-width: 1023px) {
  
}

@media screen and (max-width: 767px) {
  
}
